:root {
    --first-text-color: #000000;
    --first-title-color: #E5A985;
    --second-title-colr: #65653E;
    --third-title-color: #795744;
    --subtitle-color: #B28F79;
    --second-text-color: #4A4747;
    --third-text-color: #333333;
    --forth-text-color: #FFFFFF;
    --first-accent-color: #91916C;
    --first-background-color: #E1E1C2;
    --second-background-color: #FFEFE7;
    --input-background-color: #E5E5E5;
    --placeholder-color: #C4C4C4;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.39;
    color: var(--first-text-color);
    background-color: #FFFFFF;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.96px;
    text-align: center;
}

.text {
    font-size: 24px;
}

.form {
    display: flex;
}

.input,
.btn {
    padding: 15px 25px;
    border-radius: 8px;


    border: none;
}
input::placeholder {
    color: var(--forth-text-color);
}
.input {
    background-color: var(--first-background-color); 
}

.btn {
    font-weight: 700;
    color: var(--forth-text-color);
    background-color: var(--first-accent-color);
    
}
/* header */



.header__content {
    display: flex;
    justify-content: space-between;
    height: 132px;
    align-items: center;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--first-accent-color);
}

.menu {
    display: flex;
    margin: 0 -38px;
}

.menu__item {
    margin: 0 38px;
}

/* hero */

.hero__content {
    display: flex;
}

.hero__block-img {
    margin: 48px 96px auto -105px;
}

.hero__block-text {
    margin: 110px 0 ;
}

.hero__title {
    text-align: left;
    font-size: 56px;
    letter-spacing: 1.12px;
    color: var(--first-title-color);
    max-width: 600px;
    margin-bottom: 39px;
}

.hero__text {
    line-height: 1.71;
    letter-spacing: 0.48px;
    color: var(--second-text-color);
    margin-bottom: 67px;
}

.hero__input {
    max-width: 465px;
    width: 100%;
    margin-right: 15px;
    border-radius: 8px 0px 0px 8px;
    background-color: var(--input-background-color);
}

.hero__input::placeholder {
    color: var(--placeholder-color);
}

.hero__btn {
    border-radius: 0px 8px 8px 0px;
    text-transform: uppercase;
}